<template>
    <nav class="flex justify-between mt-4 mb-3 px-5 pb-5 items-center pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900 dark:text-white">{{dataPagination.from}}-{{dataPagination.to}}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{dataPagination.total}}</span></span>
        <ul class="inline-flex items-center -space-x-px">
            <li
            v-for="(link, index) in dataPagination.links"
            :key="link.index">
                <Link class="pagination-li rounded-l-md"
                :href="link.url" v-if="link.label === 'pagination.previous'"><i class="fa-solid fa-chevron-left"></i></Link>
                <Link class="pagination-li rounded-r-md"
                :href="link.url" v-else-if="link.label === 'pagination.next'"><i class="fa-solid fa-chevron-right"></i></Link>
                <Link class="pagination-li" :class="{'active-link-page': link.label == props.dataPagination.current_page}" :href="link.url" v-else=" ">{{ link.label }}</Link>
            </li>
        </ul>
    </nav>
</template>

<script setup>
import { Link } from '@inertiajs/inertia-vue3';

 const props = defineProps({
    dataPagination: Object
    });
</script>
