<script setup>
import Icon from '../Icon.vue';
</script>

<template>
  <div class="flex-none w-10 h-10 pt-4">
    <button @click.prevent="$emit('toggle')" type="button" class="w-10 h-10 text-blue-500 transition-all rounded-none  hover:bg-blue-400/60 hover:rounded-md hover:text-white">
      <Icon name="bars" />
    </button>
  </div>
</template>
