<script setup>
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import { ref } from "@vue/reactivity";
import { watch } from "@vue/runtime-core";
import { Inertia } from "@inertiajs/inertia";
import debounce from "lodash/debounce";
import JetButton from '@/Jetstream/Button.vue';
import { Link } from '@inertiajs/inertia-vue3';
import Pagination from '../../shared/Pagination.vue';

const props = defineProps({
  datum: Object,
  filters: Object,
  table_name: Array
});

const destroy = async (id, name) => {
  const response = await Swal.fire({
    title: __('Are you sure') + ' will delete data <span style="color:red;">' + name +  '</span> ? ',
    text: __('You can\'t restore it after deleted'),
    icon: 'question',
    showCancelButton: true,
    showCloseButton: true,
  })

  if (response.isConfirmed) {
    return Inertia.delete(route('master.module.destroy', id), {
        preserveState: true,
        preserveScroll: true,
        onFinish: visit => {
            Toast.fire({
            icon: 'success',
            title: 'Data telah terhapus'
            });
        }
    })
  }
}

let search = ref(props.filters.search);

watch(
  search,
  debounce(function (value) {
    Inertia.get(
      "/master/module/",
      { search: value },
      {
        preserveState: true,
        replace: true,
      }
    );
  }, 500)
);

const toggleActive = (id, fstatus) => {
    Inertia.visit('/master/module/'+ id +'/'+ fstatus +'/toggle', {
        method: 'put',
        preserveState: true,
        preserveScroll: true,
        onFinish: visit => {
            Toast.fire({
            icon: 'success',
            title: 'Berhasil edit data.'
            });
        },
    })


}

</script>

<template>
    <DashboardLayout title="Module">
        <div class="mx-10 mt-20">
            <div class="flex justify-between">
                <div class="flex">
                    <div class="font-thin font-judulmodule text-3xl border-r border-slate-300 pr-5 mr-5 text-info-focus">
                        Module
                    </div>
                    <div class="pt-1.5 text-slate-600 text-lg font-judulmodule">{{$page.component}}</div>
                </div>

                <div class="justify-end">
                    <Link v-if="can('module create')" class="float-right" :href="route('master.module.create')">
                        <jet-button class="border border-slate-200 bg-white text-info-focus">Tambah Data</jet-button>
                    </Link>
                </div>
            </div>
            <div class="overflow-x-auto">
                <!-- <pre>{{ props }}</pre> -->
                <div class="pb-4  dark:bg-gray-900 mt-10">
                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative mt-1 ml-0.5">
                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            </div>
                            <input v-model="search" type="text" id="table-search" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-accent-light focus:border-accent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
                        </div>
                </div>
                <div class="overflow-x-auto relative shadow-md sm:rounded-lg border border-slate-200">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr class="[&>th]:text-primary">
                                <th scope="col" class="p-4">
                                    #
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Name
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Table Name
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Slug
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Description
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Status
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="data in datum.data" :key="data.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="p-4 w-4">
                                    {{ data.id }}
                                </td>
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ data.name }}
                                </th>
                                <td class="py-4 px-6">
                                    {{data.table_name}}
                                </td>
                                <td class="py-4 px-6">
                                    {{ data.slug }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ data.description}}
                                </td>
                                <td class="py-4 px-6">
                                    <label class="inline-flex relative items-center align-middle mb-5 cursor-pointer">
                                        <input @click="toggleActive((data.id), (data.status = !data.status))" :checked="data.status" type="checkbox" class="sr-only peer">
                                        <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                                    </label>
                                </td>
                                <td class="py-4 px-6" :num="data.id">
                                    <button id="dropdownDefault" @click="data.isShow = !data.isShow" data-dropdown-toggle="dropdown" class="text-slate-300 bg-white border border-slate-300 hover:text-slate-500 focus:ring-1 focus:text-slate-500 focus:ring-primary font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center" type="button">Action<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdown"  v-if="data.isShow" :num="data.id" class="absolute z-10 w-24 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                                            <li>
                                                <Link
                                                    v-if="can('module edit')"
                                                    :href="route('master.module.edit', data.id)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                    >
                                                Edit
                                                </Link>
                                            </li>
                                            <li>
                                                <Link
                                                    v-if="can('module delete')"
                                                    @click="destroy(data.id, data.name)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                >Delete</Link>
                                            </li>
                                            <li>
                                                <Link
                                                    v-if="can('module view')"
                                                    :href="route('master.module.show', data.id)"
                                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                    >
                                                View
                                                </Link>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <Pagination :dataPagination="datum"/>
                </div>
          </div>
        </div>
    </DashboardLayout>
</template>

<style lang="postcss" scoped>

</style>
