<script setup>
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import JetButton from '@/Jetstream/Button.vue';
import { Link } from '@inertiajs/inertia-vue3';
import { reactive } from '@vue/reactivity';
import { Inertia } from '@inertiajs/inertia';
import { ref } from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import JetActionMessage from '@/Jetstream/ActionMessage.vue';
import JetFormSection from '@/Jetstream/FormSection.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetInputError from '@/Jetstream/InputError.vue';
import JetLabel from '@/Jetstream/Label.vue';
import Button from '@/Jetstream/Button.vue';
import Icon from '@/Components/Icon.vue';
import { usePage } from '@inertiajs/inertia-vue3'

const goBack = () => {
  return history.back()
};


const props = defineProps({
    datum: Object,
    table_name: Object
});

const form = useForm({
    name: props.datum.name,
    table_name: props.datum.table_name,
    description: props.datum.description,
});


</script>

<template>
    <DashboardLayout title="Module">
        <div class="mx-10 mt-20 mb-32">
            <div class="flex justify-between mb-14">
                <div class="flex">
                    <div class="font-thin font-judulmodule text-3xl border-r border-slate-300 pr-5 mr-5 text-info-focus">
                        Module
                    </div>
                    <div class="pt-1.5 text-slate-600 text-lg font-judulmodule">{{$page.component}}</div>
                </div>

                <div class="justify-end">
                    <Link class="float-right" @click="goBack">
                        <jet-button class="border border-slate-200 bg-white text-info-focus">Kembali</jet-button>
                    </Link>
                </div>
            </div>

                <JetFormSection>
                    <template #title>
                        View Detail Nama Modul
                    </template>

                    <template #description>
                        Melihat data detail.
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="name" value="Nama Modul" />
                            <JetInput
                                disabled
                                id="name"
                                type="text"
                                v-model="form.name"
                                class="mt-1 block w-full bg-slate-200"
                            />
                            <JetInputError :message="form.errors.name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <label for="table_name" class="block text-sm font-medium text-gray-700">Nama tabel</label>
                            <select disabled v-model="form.table_name" id="table_name" name="table_name" class=" bg-slate-200 mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                <option selected disabled>Pilih nama tabel</option>
                                    <template v-for="(table,index) in table_name" :key="index">
                                        <option :value="table" >{{ table }}</option>
                                    </template>
                            </select>
                            <JetInputError :message="form.errors.table_name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <JetLabel for="description" value="Description" />
                            <textarea
                                disabled
                                id="description"
                                name="description"
                                rows="3"
                                v-model="form.description"
                                class="mt-1 block w-full bg-slate-200 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                placeholder="Keterangan">
                            </textarea>
                        </div>

                    </template>
                </JetFormSection>
        </div>
    </DashboardLayout>
</template>

<style lang="postcss" scoped>
</style>
