<script setup>
import Welcome from '@/Jetstream/Welcome.vue';
</script>

<template>
         <div class="flex flex-col my-5 pt-20">
            <div class="text-primary font-thin font-judulmodule text-3xl w-full h-full">Profile Warna</div>
            <div class="flex [&>div]:w-24 [&>div]:h-24 [&>div]:p-2 gap-3 text-white mt-3" >
                <div class="bg-primary">primary</div>
                <div class="bg-primary-focus">primary focus</div>
                <div class="bg-secondary">secondary</div>
                <div class="bg-secondary-focus">secondary focus</div>
                <div class="bg-secondary-light">secondary light</div>
                <div class="bg-accent-light">accent light</div>
                <div class="bg-accent">accent</div>
                <div class="bg-accent-focus">accent focus</div>
            </div>
            <div v-if="can('moule menu')" class="flex [&>div]:w-24 [&>div]:h-24 [&>div]:p-2 gap-3 text-white mt-3" >
                <div class="bg-info">info</div>
                <div class="bg-info-focus">info focus</div>
                <div class="bg-success">success</div>
                <div class="bg-success-focus">success focus</div>
                <div class="bg-warning">warning</div>
                <div class="bg-warning-focus">warning focus</div>
                <div class="bg-error">error</div>
                <div class="bg-error-focus">error focus</div>
            </div>

         </div>
         <hr>
         <div class="pt-10 [&>p]:my-10">
            <p class="text-info-focus font-thin font-judulmodule text-3xl">Pengangkatan Pegawai</p>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-secondary-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-primary-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-accent-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-error">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-error-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-warning-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-info-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-success-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>
            <p class="text-success-focus">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit illo, earum optio dolorem impedit veniam? Corrupti sequi porro, soluta veritatis, repellat veniam minima maxime odit illo expedita eum nisi.</p>

         </div>
         <hr>
</template>

<style lang="postcss" scoped>
</style>
