@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table {
        @apply border-collapse w-full;
      }

      thead, tfoot {
        @apply bg-gray-200 dark:bg-gray-800 dark:text-gray-200;
      }

      thead tr, tfoot tr {
        @apply bg-inherit text-inherit;
      }
}

@layer utilities {
    .test-test {
        background-color:coral;
    }

    .pagination-li {
        @apply py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }
    .active-link-page {
        @apply text-secondary-focus font-semibold;
    }
}
