<script setup>
import Icon from '@/Components/Icon.vue'
</script>

<template>
  <Icon name="times" class="px-2 py-1 hover:bg-red-500 text-red-600 hover:text-white dark:text-gray-700 rounded-md transition-all duration-300 cursor-pointer" />
</template>
