<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="inline-flex items-center px-4 py-2 hover:bg-gray-100 dark:bg-gray-900 border border-transparent rounded-md  text-xs text-white uppercase tracking-widest active:bg-gray-900 focus:outline-none focus:border-primary disabled:opacity-25 transition">
        <slot />
    </button>
</template>
