<script setup>
import { getCurrentInstance, onMounted, onUnmounted, ref, watch } from 'vue'
import { Head, usePage } from '@inertiajs/inertia-vue3'
import Toggler from '@/Components/DashboardLayout/SidebarToggler.vue'
import TopbarDropdown from '@/Components/DashboardLayout/TopbarDropdown.vue'
import Sidebar from '@/Components/DashboardLayout/Sidebar.vue';

const { title } = defineProps({
  title: String,
})

const { $config } = usePage().props.value
const open = ref(Boolean(
  Number(localStorage.getItem('sidebar_open'))
))

watch(open, () => {
  localStorage.setItem('sidebar_open', Number(open.value))
})

const q = e => {
  if (e.key === 'q' && ! (e.target instanceof HTMLInputElement)) {
    open.value = ! open.value
  }
}

onMounted(() => document.addEventListener('keyup', q))
onUnmounted(() => document.removeEventListener('keyup', q))
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.max-h-sidebar {
  max-height: calc(100vh - 3.5rem);
}
</style>

<template>
  <div class="dark:bg-gray-900 bg-[#F9FAFB] font-sans w-full h-full min-h-screen">
    <div class="fixed top-0 left-0 z-20 flex-none flex justify-between w-full h-14" :class="themes().get('topbar', 'bg-white/95 text-gray-700 hover:text-gray-800 transition-all ease-in-out duration-150 border-b border-slate-200').replace(/hover:(bg|text)-(.*?)-(\d+)/, '')">
      <div class="flex items-center justify-between w-14 md:w-64 pl-0 md:pl-6">
        <h1 class="text-2xl font-bold hidden sm:inline">
          {{ $config.app.name }}
        </h1>
      </div>

      <div class="md:hidden w-full flex items-center justify-center">
        <h1 class="text-center text-2xl font-semibold">
          {{ $config.app.name }}
        </h1>
      </div>

      <TopbarDropdown />
    </div>
    <div
      class="transition-all duration-300"
      :class="{
        'pl-14 md:pl-64': open,
        'pl-14': !open,
      }"
    >
      <main class="p-6">
        <slot />
      </main>
    </div>

    <div
      class="fixed top-14 left-0 transition-all duration-300 h-screen max-h-sidebar z-20 flex bg-white border-r border-slate-200"
      :class="{
        'w-[280px]': open,
        'w-0': !open,
      }"
    >

    <div class="bg-white w-16 items-center flex flex-col flex-none border-r border-slate-200">
        <div class="item-center pl-1 -mt-1.5 h-1/6 grow-0">
            <Toggler @toggle="open = ! open" />
        </div>
        <div class="flex h-3/6 flex-col gap-3 grow pt-14 pl-1 overflow-auto">
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-solid fa-house-user h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-brands fa-app-store h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-regular fa-map h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-solid fa-swatchbook h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-solid fa-ship h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
            <a href="#" class="hover:bg-purple-500/20 hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-solid fa-user-doctor h-6 w-6 text-slate-500 block mx-auto my-auto"></i></a>
        </div>
        <div class="grow-0 h-1/6 flex flex-col justify-between pl-1 pb-2 gap-2">
            <a href="#"  class="hover:bg-purple-500/20 cursor-pointer hover:rounded-md w-10 h-10 mx-auto pt-3 pl-2"><i class="fa-solid fa-gear h-6 w-6 text-slate-400 block mx-auto my-auto"></i></a>
            <div class="mx-auto cursor-pointer"><img class="w-10 h-10 rounded-full" src="https://source.unsplash.com/random/50x50/?potrait" alt="Rounded avatar"/></div>
        </div>
     </div>
      <Sidebar :open="open" />
    </div>
  </div>
</template>
